<%= erb :head, :locals => {title: "アトラスについて"} %>

<div class="span6 offset3">
	<img src="/images/about.png" />
	<h2>About</h2>
	<p>アトラス (Atllas.net) は、Twitterやはてなブックマークで話題になっていることを知ることの出来るサービスです。</p>
	<h2>Credits</h2>
	<p><a href="http://thenounproject.com/noun/ghost/#icon-No305">Ghost</a> from The Noun Project</p>
	<!-- <p><a href="http://thenounproject.com/noun/calendar/#icon-No404">Calendar</a> from The Noun Project</p> -->
	<p><a href="http://thenounproject.com/noun/globe/#icon-No3529">Globe</a> designed by <a href="http://thenounproject.com/partyfest">Christoffer Skogsmo</a> from The Noun Project</p>
</div>

<%= erb :foot %>