</div> <!-- .row -->

  <div class="top-ad">
	  <script type="text/javascript"><!--
	  google_ad_client = "ca-pub-1794767457980402";
	  if (window.innerWidth > 769){
	  	/* top and large */
	  	google_ad_slot = "3492744893";
	  	google_ad_width = 970;
	  	google_ad_height = 90;
	  }else if(window.innerWidth < 481){
	  	/* mobile */
	  	google_ad_slot = "9524859298";
	  	google_ad_width = 320;
	  	google_ad_height = 50;
	  }
	  //-->
	  </script>
	  <script type="text/javascript"
	  src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
	  </script>
  </div>

<div id="push"></div>
</div> <!-- .container -->

<footer>
	<p><a href="/about">アトラスについて</a></p>
</footer>

<script src="http://code.jquery.com/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-39905342-1']);
  _gaq.push(['_trackPageview']);
  (function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</body>
</html>
