<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<a class="brandimg" href="/"></a>
		<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		    <span class="icon-bar"></span>
		    <span class="icon-bar"></span>
		    <span class="icon-bar"></span>
		</a>
		<div class="nav-collapse collapse">
			<ul class="nav">
				<li class="society"><a href="/society">社会</a></li>
				<li class="politic"><a href="/politic">政治経済</a></li class>
				<li class="sport"><a href="/sport">スポーツ</a></li>
				<li class="entertainment"><a href="/entertainment">エンタメ</a></li>
				<li class="tech"><a href="/tech">テクノロジー</a></li>
				<li class="fun"><a href="/fun">2ch・おもしろ</a></li>
			</ul>
			<ul class="nav pull-right">	
				<!-- <li><a href="#">アーカイブ</a></li> -->
			</ul>
		</div>
	</div>
</div>