<%= erb :head, :locals => {title: "アトラス [Atllas] ページが見つかりません"} %>

<div class="span8 offset2 not-found">
	<img src="/images/404.png" />
	<h1>お探しのページは見つかりませんでした</h1>

	<p><a href="/">トップページにもどる</a></p>	
</div>

<%= erb :foot %>